*{background-color: #d6fffe;
}

h1{
    font-family: Arial;
    color: #ffd919;
    font-size: 35px;
    width: fit-content;
    border-left: 2px solid #0a00fa;
    border-bottom: 6px solid #0a00fa;
    margin: auto;
}

img{
    height: auto;
    width: 500px;
    padding-top: 2em;
    margin-left: 425px;
    margin-bottom: 50px;
}

h3,
h2{
    width: fit-content;
    border-bottom: 2px solid black;
}

.topdawg{
    border: 2px solid green;
}

ul{
    display: flex;
    margin-right: auto;
    list-style: none;
    margin-bottom: 100px;
     
}

ul li{
    border: 2px solid black;
    padding: 2em;
    margin: 2px;
    margin-left: 80px;
    background-color: #ffd919;

}

ol li{
    width: fit-content;
    border: 2px solid black;
    padding: 0.4em;
    margin: 2px;
    margin-left: 80px;
    background-color: antiquewhite;
}